<html xmlns="http://www.w3.org/TR/xhtml1/strict">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Intel Mesa CI Results{% if title %}{{ ': ' + title }}{% endif %}</title>
    <link rel="stylesheet" href="/static/main.css"/>
    {% if not request.cookies.get("user_timezone") %}
    <script>
        (function () {
            var tz = Intl.DateTimeFormat().resolvedOptions().timeZone;

            fetch("/settz?timezone=" + encodeURIComponent(tz));
        })()
    </script>
    {% endif %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>

