{% extends 'base.html' %}

{% block body %}
<div id="header">
  <h1>Builds for {{ job }}:</h1>
  <div id="navbox">
    {% for link in top_links %}
    <span><a href="{{ link["href"] }}">{{ link["text"] }}</a></span>
    {% endfor %}
  </div>
</div>
<div id="content">
  <div class="section">
    <table style="width:100%">
      <colgroup>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
      </colgroup>
      <tr>
        {% set sort_col = sort_prefs['builds'].split(':') %}
        <th
          {% if sort_col[0] == 'build_name' %}
          class="buildtable_row_name sort-section-{{ sort_col[1] }}"
          {% else %}
          class="buildtable_row_name"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=build_name&sort_section=builds' }}">Build Name</a>
        </th>
        <th
          {% if sort_col[0] == 'end_time' %}
          class="buildtable_row_date sort-section-{{ sort_col[1] }}"
          {% else %}
          class="buildtable_row_date"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=end_time&sort_section=builds' }}">Completed</a>
        </th>
        <th
          {% if sort_col[0] == 'pass_count' %}
          class="sort-section-{{ sort_col[1] }}"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=pass_count&sort_section=builds' }}">Pass Count</a>
        </th>
        <th
          {% if sort_col[0] == 'flaky_count' %}
          class="sort-section-{{ sort_col[1] }}"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=flaky_count&sort_section=builds' }}">Flaky Count</a>
        </th>
        <th
          {% if sort_col[0] == 'disabled_count' %}
          class="sort-section-{{ sort_col[1] }}"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=disabled_count&sort_section=builds' }}">Disabled Count</a>
        </th>
        <th
          {% if sort_col[0] == 'filtered_pass_count' %}
          class="sort-section-{{ sort_col[1] }}"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=filtered_pass_count&sort_section=builds' }}">Expected Failures</a>
        </th>
        <th
          {% if sort_col[0] == 'fail_count' %}
          class="sort-section-{{ sort_col[1] }}"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=fail_count&sort_section=builds' }}">Fail Count</a>
        </th>
      </tr>
      {% for build in builds %}
      <tr>
        {% if build["status"] == "unstable" %}
        <td class="unstable"><a href="{{ build["build_id"] }}/group/63a9f0ea7bb98050796b649e85481845">{{ build["build_name"] }}</a></td>
        {% elif build["status"] == "failure" %}
        <td class="failure"><a href="{{ build["build_id"] }}/group/63a9f0ea7bb98050796b649e85481845">{{ build["build_name"] }}</a></td>
        {% else %}
        <td><a href="{{ build["build_id"] }}/group/63a9f0ea7bb98050796b649e85481845">{{ build["build_name"] }}</a></td>
        {% endif %}
	{% if build["imported"] %}
          <td>{{ build["end_time"] | localtzfilter }}</td>
	{% else %}
	  <td>Build in process at {{ build["end_time"] | localtzfilter }}</td>
	{% endif %}
        <td>{{ build["pass_count"] }}</td>
        <td>{{ build["flaky_count"] }}</td>
        <td>{{ build["disabled_count"] }}</td>
        {% if build["filtered_pass_count"] %}
        <td class="skip">{{ build["filtered_pass_count"] }}</td>
        {% else %}
        <td>{{ build["filtered_pass_count"] }}</td>
        {% endif %}
        {% if build["fail_count"] %}
        <td class="failure">{{ build["fail_count"] }}</td>
        {% else %}
        <td>{{ build["fail_count"] }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
