{% extends 'base.html' %}

{% block body %}
<title>Intel Mesa CI results</title>
<h1>Intel Mesa CI results</h1>
<div class="content">
  <div id="contentsbox">
  <form>
    <span><a href="machines">Test Machines</a></span>
    Filter jobs:
    <input type="text" style="min-width: 40em" name="jobfilter" value="{{ jobfilter if jobfilter else '' }}">
    <p style="font-size: .8em"><i>Multiple terms to search for can be specified, separated with spaces. Example: <b>cts &nbsp; daily &nbsp; mesa &nbsp; vulkan</b></i></p>
  </form>
  </div>
  <table style="width:100%">
    <colgroup>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
    </colgroup>
    <tr>
      {% set sort_col = sort_prefs['jobs'].split(':') %}
      <th
        {% if sort_col[0] == 'name' %}
        class="jobtable_row_jobname sort-section-{{ sort_col[1] }}"
        {% else %}
        class="jobtable_row_jobname"
        {% endif %}
        ><a href="{{ request.path + '?sort_col=name&sort_section=jobs' }}">Name</a>
      </th>
      <th
        {% if sort_col[0] == 'last_build_time' %}
        class="jobtable_row_builddate sort-section-{{ sort_col[1] }}"
        {% else %}
        class="jobtable_row_builddate"
        {% endif %}
        ><a href="{{ request.path + '?sort_col=last_build_time&sort_section=jobs' }}">Last Build</a>
      </th>
      <th
        {% if sort_col[0] == 'last_pass_build_time' %}
        class="jobtable_row_builddate sort-section-{{ sort_col[1] }}"
        {% else %}
        class="jobtable_row_builddate"
        {% endif %}
        ><a href="{{ request.path + '?sort_col=last_pass_build_time&sort_section=jobs' }}">Last Passing Build</a>
      </th>
      <th
        {% if sort_col[0] == 'last_failed_build_time' %}
        class="jobtable_row_builddate sort-section-{{ sort_col[1] }}"
        {% else %}
        class="jobtable_row_builddate"
        {% endif %}
        ><a href="{{ request.path + '?sort_col=last_failed_build_time&sort_section=jobs' }}">Last Failed Build</a>
      </th>
      <th
        {% if sort_col[0] == 'last_failed_build_count' %}
        class="jobtable_row_count sort-section-{{ sort_col[1] }}"
        {% else %}
        class="jobtable_row_count"
        {% endif %} class="jobtable_row_count"
        ><a href="{{ request.path + '?sort_col=last_failed_build_count&sort_section=jobs' }}">Last Failed Build Count</a>
      </th>
    </tr>
    {% if jobs %}
    {% for job in jobs %}
    <tr>
      <td><div id="circle" class="{{ job['status'] }}"></div> <a href="{{ job['name'] }}/builds/">{{ job['name'] }}</a></td>
      <td>
	<a href="{{ job['name'] + '/builds/' + job['last_build_id'] }}/group/63a9f0ea7bb98050796b649e85481845">
	  {%- if job['last_build_imported'] %}
	    {{ job['last_build_name'] }} ({{ job['last_build_time'] | localtzfilter }})
	  {% else %}
	    {{ job['last_build_name'] }} in process at ({{ job['last_build_time'] | localtzfilter }})
	  {% endif -%}
	</a>
      </td>
      {% if job['last_pass_build_id'] %}
	<td>
	  <div id="circle" class="success"></div>
	  <a href="{{ job['name'] + '/builds/' + job['last_pass_build_id']}}/group/63a9f0ea7bb98050796b649e85481845">
	    {%- if job['last_pass_imported'] %}
	      {{ job['last_pass_build_name'] }} ({{ job['last_pass_build_time'] | localtzfilter }})
	    {% else %}
	      {{ job['last_pass_build_name'] }} in process at ({{ job['last_pass_build_time'] | localtzfilter }})
	    {% endif -%}
	  </a>
	</td>
      {% else %}
	<td/>
      {% endif %}
      {% if job['last_failed_build_count'] %}
	<td>
	  <a href="{{ job['name'] + '/builds/' + job['last_failed_build_id']}}/group/63a9f0ea7bb98050796b649e85481845">
	    {%- if job['last_failed_imported'] %}
	      {{ job['last_failed_build_name'] }} ({{ job['last_failed_build_time'] | localtzfilter }})
	    {% else %}
	      {{ job['last_failed_build_name'] }} in process at ({{ job['last_failed_build_time'] | localtzfilter }})
	    {% endif -%}
	  </a>
	</td>
      <td>{{ job['last_failed_build_count'] }}</td>
      {% else %}
      <td/>
      <td/>
      {% endif %}
    </tr>
    {% endfor %}
    {% endif %}
  </table>
</div>


{% endblock %}
